
/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}


/* utility style */ 

.clearfix > *{
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.centered {
    text-align: center;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.btn-white {
    padding: 0.5em 1.5em;
    border: 1px solid black;
    display: inline-block;
}

.btn-blue {
    padding: 0.6em 1.2em;
    
    background-color: #0061ff;
    color: white;
}


li {
    list-style: none;
    display: inline-block;
}




/* style */

header {
    width: 100%;
    height: 90px;
    /* border: 1px solid black; */
    position: static;
    padding: 0 2rem;
}

header .logo {
    display: inline-block;
    line-height: 6.5em;
    padding-right: 2rem;
}

.logo img {
    width: 10em;

}

header ul a {
    line-height: 5em;
    padding: 0 1.5rem;
    font-size: 1.2em;
 }

.float-right {
    float: right ;
}

.btn-cont {
    line-height: 6em;
}

.btn-invia {
    line-height: 0.8em;
}


/* hero */

.hero {
    width: 100%;
    height: 750px;
    background-color:#b4d0e7 ;
}

.hero .content {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 5rem;
    /* border: 1px solid black; */
}

.hero h1 {
    font-size: 5em;
    margin-bottom: 4rem;
}

.hero p {
    margin-bottom: 2rem;
}

.hero .btn-hero {
    margin-bottom: 1.5rem;

}

.hero .cont-prova {
    max-width: 400px;
}

.hero .image-hero {
    width:  900px;
    background-size: cover;
}



/* main section */

.container {
    max-width: 1100px;
    height: 800vh;
    margin: 0 auto;
    padding-top: 12rem;
}

.dropbox-plan h2 {
    padding-bottom: 4rem;
}


.checkcirle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    border-radius: 50%;
}

.checkcirle.border {
    border: 0.3em solid #0061ff;
}

.fatturazione {
    margin-right: 1.5em;
}



/* cards */ 

.cards {
    margin:  auto;
    padding-left: -2rem;
    /* border: 1px solid gray; */
    margin-left: -2rem;
    margin-right: -2rem;

}

.card {
    width: calc((100% - 12em) / 3);
    margin: 2rem 2rem;
}

.card .top-card {
    padding: 0.5em 0;
    border: 1px solid gray;
}

.card .main-card {
    min-height: 850px;

    padding: 2em 2em;
    font-size: 14px;

    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.card h3,
.card .user,
.card .arc-space,
.card .note,
.card .btn-card,
.card .buy,
.card .line,
.card .offer,
.card li {
    margin-bottom: 1.5em;

}

.card .prize {
    font-weight: bold;
    margin-bottom: 1em;
}

.card .date {
    color: gray;
    margin-bottom: 2em;
}

.card .line {
    width: 3rem;
    border: 0.2px solid gray;
}

.card .offer {
    font-weight: bold;
}



/* enterprise */

.enterprise {
    padding-top: 3.5rem;
}

.top-enterprise {
    font-weight: bold;
    border: 1px solid gray;
    padding: 0.8em 0;
}

.main-enterprise {
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding: 3em;
}

.enterprise h3,
.enterprise h4 {
    margin-bottom: 1em;
}

.enterprise p {
    font-size: 0.9em;
}

.enterprise .float-right {
    float: right;
}

.enterprise .btn-sales {
    padding-left: 2em;
    padding-right: 2em;
}


/* partner */

.partner {
    margin-top: 8rem;
}

.partner img {
    width: 55%;
}

.partner .content-partner {
    width: 45%;
    padding: 3em;
}

.partner h3,
.partner p,
.partner a {
    margin-bottom: 1em;

}

.partner p {
    line-height: 2em;
}



