
/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/* utility style */ 

.clearfix > *{
    float: left;
}

.float-right {
    float: right ;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.centered {
    text-align: center;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.btn-white {
    padding: 0.5em 1.5em;
    border: 1px solid black;
    display: inline-block;
}

.btn-blue {
    padding: 0.6em 1.2em;
    
    background-color: #0061ff;
    color: white;
}

.btn-blue:hover {
    filter: opacity(0.8);
}

.btn-white:hover {
    filter: opacity(0.8);
}


li {
    list-style: none;
    display: inline-block;
}

.svg {
    width: 2rem;
}

.width {
    width: 17em;
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: text-top;
}

/*  icons  */ 

.fas.fa-check {
    color: #0061ff;
}





/* style */

header {
    z-index: 9999;
    width: 100%;
    min-width: 1500px;
    position: fixed;
    top: 0;
    left: 0;

    padding: 0 2rem;
    background-color: white;
    line-height: 4em;

}

header .logo {
    display: inline-block;
    padding-right: 2rem;
}

header .logo img {
    width: 10em;
    vertical-align: middle;
}

header ul a {
    margin: 0 1.5em;
    font-size: 1.2em;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
 }

 header li a:hover {
    border-bottom: 2px solid gray;
 }

.btn-cont {
    line-height: 4em;
}

.btn-invia {
    margin-left: 0.8em;
    vertical-align: middle;
    line-height: 1em;
}

/*bonus*/

header .support {
    position: relative;
}

.support .list-support {
    display: none;
    position: absolute;
    top: 4.25rem;
    left: 0;
    background-color: white;
}

.support .list-support a {
    width: 14em;
}

.list-support a {
    margin: 0.5em 0;
    padding-left: 2em;
}

.support:hover .list-support {
    display: unset;
}

.support:hover .link-support {
    border-bottom: 2px solid gray;
    
}

.support:hover .list-support a {
    border: transparent;
}

.list-support a:hover {
    background-color: rgba(100, 100, 100, 0.2);
}



/* hero */

.hero {
    padding-top: 6rem;
    width: 100%;
    min-width: 1400px;
    height: 850px;
    background-color:#b4d0e7 ;
}

.hero .content {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 5rem;
    /* border: 1px solid black; */
}

.hero h1 {
    font-size: 4.5em;
    margin-bottom: 4rem;
}

.hero p {
    margin-bottom: 2rem;
}

.hero .btn-hero {
    margin-bottom: 1.5rem;
}

.hero .cont-prova {
    max-width: 400px;
}

.hero .image-hero {
    width:  900px;
    background-size: cover;
    filter: drop-shadow(0 0 0.50rem black);
}



/* main section */

.container {
    width: 1100px;
    margin: 0 auto;
    padding-top: 12rem;
}

.dropbox-plan h2 {
    padding-bottom: 4rem;
}


.checkcirle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    border-radius: 50%;
}

.checkcirle.border {
    border: 0.3em solid #0061ff;
}

.fatturazione {
    margin-right: 1.5em;
}



/* cards */ 



.cards {
    margin:  auto;
    padding-left: -2rem;
    /* border: 1px solid gray; */
    margin-left: -2rem;
    margin-right: -2rem;
}

.card {
    width: calc((100% - 12em) / 3);
    margin: 2rem 2rem;
}

.card .top-card {
    /* padding: 0.5em 0; */
    border: 1px solid gray;
    line-height: 2rem;
}

.card .main-card {
    padding: 2em 2em;
    font-size: 14px;

    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.card h3,
.card .user,
.card .arc-space,
.card .note,
.card .btn-card,
.card .buy,
.card .line,
.card .offer,
.card li {
    margin-bottom: 1.5em;

}

.card .buy a {
    color: blue;
    text-decoration: underline;
}

.card .buy a:hover {
    text-decoration: none;
}

.card .prize {
    font-weight: bold;
    margin-bottom: 1em;
}

.card .date {
    color: gray;
    margin-bottom: 2em;
}

.card .line {
    width: 3rem;
    border: 0.2px solid gray;
}

.card .offer {
    font-weight: bold;
}

.card .btn-card {
    padding: 0.6em 2.5em;
}



/* enterprise */

.enterprise {
    padding-top: 3.5rem;
}

.top-enterprise {
    font-weight: bold;
    border: 1px solid gray;
    padding: 0.8em 0;
}

.main-enterprise {
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding: 3em;
}

.enterprise h3,
.enterprise h4 {
    margin-bottom: 1em;
}

.enterprise p {
    font-size: 0.9em;
}

.enterprise .float-right {
    float: right;
}

.enterprise .btn-sales {
    padding-left: 2em;
    padding-right: 2em;
}


/* partner */

.partner {
    margin-top: 8rem;
}

.partner img {
    width: 55%;
}

.partner .content-partner {
    width: 45%;
    padding: 3em;
}

.partner h3,
.partner p,
.partner a {
    margin-bottom: 1em;
}

.partner p {
    line-height: 2em;
}


/* Business */

.business {
    margin-top: 8rem;
}

.business .cards {
    margin-left: -3rem;
    margin-right: -3rem;
}

.business .card {
    width: calc((100% - 12rem) / 3);
    margin: 0.5rem 2rem;
    margin-bottom: 5rem;
    padding: 0 1rem;
}

.business img {
    width: 100%;
}

.business p {
    line-height: 1.5em;
}


/* client */ 

.client {
    margin-top: 8rem;
    padding-right: 42%;
}

.client a {
    text-decoration: underline;
    color: #166eff;
}

/* design */

.design {
    width: 100%;
    min-width: 1500px;
    height: 400px;
    margin-top: 4rem;
}

.design .content-design {
    width: 40%;
}

.design .puzzle {
    width: 30%;
    height: 50%;
}

.design .cont-image {
    width: 50%;
    height: 100%;
    position: relative;
}

.design img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 8rem;
}

/* background color puzzle left */


.design .puzzle.left .cont-image.top-left {
    background-color: #a2d39b;
    border: 0.5rem solid #d0e9cd;
}

.design .puzzle.left .cont-image.top-right {
    background-color: #61082b;
}

.design .puzzle.left .cont-image.bottom-left {
    background-color: #0093ce;
}

.design .puzzle.left .cont-image.bottom-right {
    background-color: #ff1c1c;
}

/* background color puzzle right */


.design .puzzle.right .cont-image.top-left {
    background-color: #d5001f;
}

.design .puzzle.right .cont-image.top-right {
    background-color: #b4d0e7;
}

.design .puzzle.right .cont-image.bottom-left {
    background-color: #0d2481;
}

.design .puzzle.right .cont-image.bottom-right {
    background-color: #ffd830;
}

/* content-design */

.design .content-design {
    height: 100%;
    padding: 0 2rem;
    background-color: #f5f5f5;

}

.design .content-design .cont-image {
    width: 8rem;
    height: 8rem;
}

.design .content-design p {
    margin-bottom: 4rem;

}



/* pre-footer */

.pre-footer {
    min-width: 1400px;

}

/*top*/



.top-pre-footer {
    background-color: #b4d0e7;
    min-width: 1500px;

}


.top-pre-footer .container {
    padding: 9rem 0;
}

.top-pre-footer .container h1 {
    font-size: 2.5em;
    width: 40%;
    color: #61082b;
}

.top-pre-footer .container a {
    background-color: white;
    border: transparent;
    padding: 0.5em 3.5em;
}


/* bottom pre-footer */

.bottom-pre-footer {
    height: 800px;
    padding-bottom: 6rem;

}

.bottom-pre-footer h3 {
    padding-bottom: 1.5em;
    border-bottom: 1px solid gray;
    font-size: 2em;
}

.bottom-pre-footer .hidden-list {
    border-bottom: 1px solid gray;
    display: block;
    line-height: 5em;

}

.bottom-pre-footer .hidden-list ul {
    width: 80%;
}

.bottom-pre-footer .hidden-list .inner-hidden {
    line-height: 1em;
    display: none;
}

.bottom-pre-footer .hidden-list .icons {
    margin-right: 3rem;
}

.bottom-pre-footer .hidden-list:hover .inner-hidden  {
    display: inline-block;
}

.bottom-pre-footer .hidden-list:hover .icons {
    transform: rotateX(180deg);
}






/* footer */

footer {
    min-width: 1500px;

    background-color: #000000;
    color: white;
    padding-top: 3rem;
    
}

.container-footer {
    width: 1300px;
    margin: 0 auto;
}

.container-footer .list-col {
    width: calc(100% / 5);
    padding-bottom: 5rem;
}


.container-footer .list-raw li,
.container-footer .list-raw a { 
    display: block;
    color: white;
}

.container-footer h3 {
    padding: 0.8rem 0;

}

.container-footer .list-raw li {
    padding: 0.4rem 0;
}

.container-footer .list-raw li a:hover {
    text-decoration: underline;
}


.container-footer .languages {
    display: inline-block;
    padding: 4rem 0;
    padding-right: 3rem;
    border-top: 1px solid white;
    color: gray;
}













